.auth {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    padding: 20px;
}

.header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: center;
}

.form {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 15px;
}

.control {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.actions {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

}

.button {
    padding: 10px;
    background-color: transparent;
    color: #0070f3;
    border: 1px solid #0070f3;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    min-width: 200px;
    max-width: 200px;
}
.button:hover {
    background-color: #0070f3;
    color: #fff;
}

.error {
    padding: 10px;
    background-color: #fee;
    color: #c00;
    border: 1px solid #fcc;
    border-radius: 4px;
    font-size: 14px;
    text-align: center;
}

.success {
    padding: 10px;
    background-color: #efe;
    color: #060;
    border: 1px solid #cfc;
    border-radius: 4px;
    font-size: 14px;
    text-align: center;
}